# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env files
.env*

# vercel
.vercel

# typescript
next-env.d.ts

#development
setup-proxy.mjs
connect_db.mjs

#other
/public/img_storage