@import "tailwindcss";

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-header {
  display: flex;
  justify-content: start;
  width: 90%;
  max-width: 54rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  background-color: aliceblue;
}

.about-header h1 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
  margin: 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 54rem;
}

.about-container > h2{
  position: relative;
  font: 700 1.75rem "MiSans", sans-serif;
  line-height: 1;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

.about-container > h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2rem;
  width: 6px;
  height: 1.75rem;
  text-align: center;
  background-color: oklch(0.809 0.105 251.813);
}

.about-container > p {
  font: 400 1.125rem "MiSans", sans-serif;
  line-height: 1.5;
}

.table-infor {
  border: solid 1px oklch(0.809 0.105 251.813);
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: "MiSans", sans-serif;
  font-size: 0.875rem;
}

.table-infor table {
  width: 100%;
}

.table-infor td {
  padding: 1rem 1.25rem 1rem 0.75rem;
}

.table-infor th {
  padding: 1rem 1.25rem 1rem 0.75rem;
  text-align: left;
}

.table-infor tbody tr:nth-child(odd) {
  background: aliceblue;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.contact-list > a {
  width: 50%;
  max-width: 20rem;
  height: 4rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.contact-item1 {
  background: #000;
  
}

.contact-item2 {
  background:  #0078D4;
}

.contact-item1:hover {
  transform: translateY(-2px);
  background: #1a1a1a; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.contact-item2:hover {
  transform: translateY(-2px);
  background: #106EBE; 
  box-shadow: 0 8px 20px rgba(0, 120, 212, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
}


