/* 创建滑动动画 */
.blog-list-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(86, 182, 255, 0.15);
  transform: translateX(calc(-100% - 97px)) skewX(-25deg);
  pointer-events: none; /* 确保不会干扰鼠标事件 */
  opacity: 0;   /* 初始隐藏 */
  transition: opacity 0.2s ease; /* 添加过渡效果 */
}

.blog-list-box:hover::before {
  opacity: 1;  /*hover时显示光效动画 */
  animation: moveDown 1.5s forwards; 
}

/* 创建滑动滑动动画 */
@keyframes moveDown {
  0% {
    transform: translateX(calc(-100% - 97px))
  }
  100% {
    transform: translateX(calc(-100% - 97px))
  }
}