.blog-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.blog-list {
  display: flex;
  width: 80%;
  max-width: 45rem;
  margin: 3rem 1rem 3.5rem 1rem;
}

@media (max-width: 767px) {
  .blog-list {
    width: 90%;
    margin: 2rem 0;
  }
}

.blog-list-ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap:2rem;
}

.blog-list-box {
  position: relative;
  overflow: hidden;  /* 阻止渐变效果溢出 */
  min-height: 11.375rem;
  padding: 12px 20px; /* 上下 12px，左右 20px */
  border: 3px solid transparent; /* 预留透明边框 */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.blog-list-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: var(--md-sys-color-primary) 3px solid;
}

.blog-list-content > h3 {
  transition: 0.2s ease;
} 

.blog-list-box:hover .blog-list-content > h3 {
  color: var(--md-sys-color-primary)
}

.blog-list-link {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  gap: 1.125rem;
  position: relative;
}

.blog-list-img {
  /* 图片宽高比例57:33 */
  display: flex;
  height: 132px;
  width: 228px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  align-items: center;
}

@media (max-width: 767px) {
  /* 微调padding */
  .blog-list-box {
    padding: 20px 16px;
  }
  /* 移动端竖向排列 */
  .blog-list-link {
    flex-direction: column;
  }
  .blog-list-img {
    width: 100%;
    height: auto;
  }
}

.blog-list-img > img {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  object-fit: cover;         /* 保持宽高比，裁剪多余部分 */
  object-position: center;  /* 图片居中显示 */
}

.blog-list-content {
  display: flex;
  flex-direction: column;  /* 纵向排列文本内容 */
}

.blog-list-content h3 {
  font-size: 1.65rem;
  font-weight: 700;
}

.blog-list-content p {
  font-size: 1.05rem;
  line-height: 1.6;
  margin: 0;
}

.blog-list-time {
  font-size: 0.9rem;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}

.blog-list-tag {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  gap: 0.5rem;
}

.blog-list-tag > div {
  padding: 0 0.75rem;
  font-size: 0.9rem;
  border-radius: 0.75rem;
  transition: all 0.2s ease;
}

.blog-page-button {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: auto;
  margin-bottom: 3rem;
}

.blog-page-button > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--md-sys-color-on-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .blog-page-button{
    margin-bottom: 2rem;
  }
}