@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Semibold.woff2') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

