@import "tailwindcss";
@import "./theme/light.css";
@import "./theme/dark.css";

@theme {
  --color-background: var(--md-sys-color-background);
  --color-on-background: var(--md-sys-color-on-background);
  --color-background2: var(--md-sys-color-surface);
  --color-on-background2: var(--md-sys-color-on-surface);
  --color-background3: var(--md-sys-color-tertiary-container);
  --color-on-background3: var(--md-sys-color-on-tertiary);
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Semibold.woff2') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --width-header: 70rem;
}