.base {
  width: 100vw;
  height: 100vh;
  background-color: inherit;
  z-index: 0;
  color: var(--md-sys-color-on-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar_container {
  width: 200px;
  height: 200px;
  max-width: 40%;
  max-height: 40%;
  margin-bottom: 3rem;
}

.avatar_container > img {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--md-sys-color-outline);
}

.base-text {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  cursor: default;
  margin-bottom: 2rem;
}

.base-text > span {
  display: inline-block;
  letter-spacing: 0.3rem;
  margin-right: -0.3rem;
  line-height: 1;
}

.special-text {
  position: relative;
  color: #fff;
  padding: 0.5rem 0.25rem 0.4rem 0.5rem;
  margin-right: 0.125rem;
  cursor: pointer;
}

/*添加特殊背景效果*/
.special-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(135deg, rgba(12, 24, 36, 0.8), rgba(0, 8, 20, 0.9));
  box-shadow: 0 0 20px rgba(80, 170, 255, 0.3);
  z-index: -1;
  overflow: hidden;
}