.canvas-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.aperture-item {
  background: transparent; 
  border-style: solid;
  border-color: rgba(34, 197, 94, 0.75);
  box-shadow: 
    0 0 15px rgba(34, 197, 94, 0.4),
    0 0 30px rgba(34, 197, 94, 0.2),
    inset 0 0 0 1px rgba(34, 197, 94, 0.3);
}

.aperture-item-light {
  position: absolute;
  background: transparent; 
  border: 5px solid rgba(59, 130, 246, 0.9);
}

