.canvas-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.aperture-item {
  background: transparent; 
  border-style: solid;
  border-color: rgba(34, 197, 94, 0.75);
  box-shadow: 
    0 0 15px rgba(34, 197, 94, 0.4),
    0 0 30px rgba(34, 197, 94, 0.2),
    inset 0 0 0 1px rgba(34, 197, 94, 0.3);
}
