html.light .token.comment,
html.light .token.prolog,
html.light .token.doctype,
html.light .token.cdata {
  color: #6a737d;
}

html.light .token.punctuation {
  color: #24292e;
}

html.light .token.namespace {
  opacity: 0.7;
}

html.light .token.tag
html.light .token.property,
html.light .token.constant,
html.light .token.symbol,
html.light .token.deleted {
  color: #22863a;
}

html.light .token.boolean,
html.light .token.number,
html.light .token.class {
  color: #005cc5;
}

html.light .token.selector,
html.light .token.attr-name,
html.light .token.string,
html.light .token.char,
html.light .token.builtin,
html.light .token.inserted {
  color: #032f62;
}

html.light .token.operator,
html.light .token.entity,
html.light .token.url,
html.light .language-css .token.string,
html.light .style .token.string {
  color: #24292e;
}

html.light .token.atrule {
  color: #d73a49;
}

html.light .token.keyword {
  color: #6f42c1;
}

html.light .token.attr-value {
  color: #8a4f00;
}

html.light .token.function,
html.light .token.class-name {
  color: #0f69b4;
}

html.light .token.regex,
html.light .token.important,
html.light .token.variable {
  color: #22863a;
}

html.dark .token.comment,
html.dark .token.block-comment,
html.dark .token.prolog,
html.dark .token.doctype,
html.dark .token.cdata {
  color: #999;
}

html.dark .token.punctuation {
  color: #ccc;
}

html.dark .token.tag,
html.dark .token.namespace,
html.dark .token.deleted {
  color: #e2777a;
}

html.dark .token.attr-name {
  color: #e9c46a;
}

html.dark .token.function-name {
  color: #6196cc;
}

html.dark .token.boolean,
html.dark .token.number {
  color: #f08d49;
}

html.dark .token.function {
  color: #5dade2;
}

html.dark .token.property,
html.dark .token.class-name,
html.dark .token.constant,
html.dark .token.symbol {
  color: #f8c555;
}

html.dark .token.selector,
html.dark .token.important,
html.dark .token.atrule,
html.dark .token.keyword,
html.dark .token.builtin {
  color: #cc99cd;
}

html.dark .token.string,
html.dark .token.char,
html.dark .token.attr-value,
html.dark .token.regex,
html.dark .token.variable {
  color: #7ec699;
}

html.dark .token.operator,
html.dark .token.entity,
html.dark .token.url {
  color: #67cdcc;
}

/* 其他共享样式 */
.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* 添加代码滚动条样式 */
html.light pre[class*="language-"] {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
}

html.dark pre[class*="language-"] {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
}

/* 添加主题特定样式 */
html.light .article-container pre[class*="language-"] {
  background-color: rgb(220,228,233);
}

html.dark .article-container pre[class*="language-"] {
  background-color: rgb(38,43,46);
}